.main-screen-header {
  height: 28px;
  width: 100%;

  background: var(--bg-color);
  color: var(--text-color);

  border-top: 1px solid var(--shade-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  font-size: 12px;
  user-select: none;
  box-sizing: border-box;
}