.main-screen-footer {
  height: 28px;
  width: 100%;

  background: var(--bg-color);
  color: var(--text-color);

  border-top: 1px solid var(--shade-color);

  display: flex;
  align-items: center;
  padding: 0 12px;

  font-size: 12px;
  user-select: none;
  box-sizing: border-box;

  @media (max-width: 768px) {
    display: none;
  }
}