.two-d-plot-wrapper {
  display: inline-block;
  position: relative;
}

.two-d-plot {
  position: relative;
  width: 300px;
  height: 300px;
  background: #111;
  border: 2px solid #444;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;

  background-image:
    linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);
  background-size: 20px 20px;

  .plot-point {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #f44;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
  }

  .axis-label {
    position: absolute;
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
  }

  .x-label {
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .y-label {
    top: 50%;
    left: -10px;
    transform: translateY(-50%) rotate(-90deg);
  }

  /* Corner values */
  .corner {
    position: absolute;
    font-size: 15px;
    color: #aaa;
  }

  .top {
    position: absolute;
    width: 290px;
    left: 5px;
    top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    position: absolute;
    width: 290px;
    left: 5px;
    top: 270px;
    display: flex;
    justify-content: space-between;
  }

  .bottom-left {
    top: 280px;
    left: 10px;
  }

  .bottom-right {
    top: 280px;
    left: 250px;
  }
}