/* ScaleIndicator.css */

.scale-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  .label {
    font-size: 1rem;
    margin-bottom: 4px;
    text-align: center;
  }

  .bar-container {
    position: relative;
    width: 40px;
    height: 120px;
    background-color: #1f1f2e;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }

  .bar-fill {
    width: 100%;
    background-color: #34c759;
    /* green fill */
    transition: height 0.1s linear;
  }

  .value {
    margin-top: 4px;
    font-size: 0.75rem;
  }
}