.tab {
  display: flex;
  flex-direction: column;
}

.tab .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.section-title {
  display: flex;
  align-self: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: x-large;
  border-bottom: 1px solid var(--shade-color);
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.grid {
  display: grid;

  /* max screen width */
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr) !important;

    display: flex;
    flex-direction: column;
  }
}