.tab {
  display: flex;
  flex-direction: column;
}

.tab .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.section-title {
  display: flex;
  align-self: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: x-large;
  border-bottom: 1px solid var(--shade-color);
  width: 100%;
}