.tab-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  cursor: pointer;
  width: 100%;

  background: var(--primary-color);
  color: var(--text-color);

  border: 1px solid var(--shade-color);
  user-select: none;
  transition: background 0.05s;
}

.tab-card:hover {
  background: color-mix(in srgb, var(--shade-color) 15%, transparent);
}

.tab-card.active {
  background: color-mix(in srgb, var(--primary-color) 20%, transparent);
  font-weight: 600;
}

.tab-card-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  /* icon size */
}

.tab-card-name {
  font-size: 14px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}